{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}


{% block headinfo %}
    <!-- Nosso CSS (SASS) -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!--Atualiza o título da página-->
    <title>Coolt - Oops!</title>
    <!-- Adiciona o favicon-->
    <link rel="icon" href="{% static 'img/tako2.png' %}">
    <!-- Carrega as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <style>
        footer{
          position: fixed;
          bottom: 0;
          width: 100%
      }
    </style>
{% endblock %}



{% block content %}
    {% include 'nav.html' %}

    <div class="container">
        <!-- Indica o comportamento das divisórias a seguir, elas ocuparão uma "linha" de seu contêiner -->
        <div class="row">
        <!-- Divisória main-center determina a "proporção" (8 de 12) do espaço vertical da página que os contêiners irão ocupar -->
        <div class="main-center col-md-12">

        <!-- Blocos de texto quaisquer -->
        <div class="article">
            <h2>Erro 404: Não encontrado</h2>
            <p>Essa página ainda não existe. Admiramos sua curiosidade!</p>
            <a href="{% url 'home' %}" class="link-light">Voltar para a home</a>
        </div>
        
        </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Script do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
{% endblock %}