<!DOCTYPE html>

{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% bootstrap_css %}
    <!-- Ícones do Bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Nosso CSS (SASS) -->
    <link href="{% static 'css/animes.css' %}" rel="stylesheet">
    <!--Atualiza o título da página-->
    <title>Coolt - Animes</title>
    <!-- Adiciona o favicon-->
    <link rel="icon" href="{% static 'img/animesicon.png' %}">
    <!-- Carrega as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
</head>



<body> 
    <!-- Modelo de Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <div class="container-fluid">
        <!-- Nome principal -->
        <a class="navbar-brand" href="{% url 'home' %}"> 
          <img width=100 height=50 src="{% static 'img/nome.png' %}" alt="Coolt">
        </a>
        <!-- Botão para acesso pelo celular -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Barra de navegação -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--Define a parte esquerda do nav-->
            <!-- Página Ativa -->

            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Minha Estante</a>
            </li>

            <!-- Dropdown por entretenimento -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Explorar
              </a>
              <!-- Lista por gênero -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'animes' %}">Animes</a></li>
                  <li><a class="dropdown-item" href="{% url 'movies' %}">Filmes</a></li>
                  <li><a class="dropdown-item" href="{% url 'books' %}">Livros</a></li>
                  <li><a class="dropdown-item" href="{% url 'games' %}">Jogos</a></li>
                  <li><a class="dropdown-item" href="{% url 'series' %}">Séries</a></li>
                </ul>

            </li>

          
          </ul>



          <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!--Define a parte direita do nav, particular de cada entretenimento-->
            <li class="nav-item">
              <span class="navbar-brand mb-0 h2">Animes</span>
            </li>
          </ul>

            <!-- Escolha de categorias -->
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Categoria
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                  <li><a class="dropdown-item" href="#">Shounen</a></li>
                  <li><a class="dropdown-item" href="#">Shoujo</a></li>
                  <li><a class="dropdown-item" href="#">Seinen</a></li>
                  <li><a class="dropdown-item" href="#">Isekai</a></li>
                  <li><a class="dropdown-item" href="#">Slice of Life</a></li>
                </ul> 
              </li>
            </ul>
             
          

          <!-- Barra de pesquisas -->
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
              <a class="btn btn-outline-success" href="{% url '404' %}"><span class="bi bi-search"></span></a>
            </form>

            <!-- Botão de sair -->
          <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
             <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}"> <b>Sair</b></a>
              </li>
          </ul>

        </div>
      </div>
  </nav>


      <div class="container-fluid gx-5">
        <div class="row">
        <!-- Divisória main-center determina a "proporção" (4 de 12) do espaço vertical 
          da página que os contêiners irão ocupar -->
        <div class="main-center col-md-4">
        <div class="article">
          <h2>Em Alta</h2>

          <!-- "Cards" que representam os conteúdos no em alta -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <!-- Classe img-card foi criada para formatar a imagem da maneira certa -->
                <img alt="Steins;Gate" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx9253-7pdcVzQSkKxT.jpg" class="img-fluid rounded-start img-card" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Steins;Gate</h5>
                  <p class="card-text">
                    <!-- Uso do Bootstrap Icons para mostrar a nota média da obra no site -->
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </p>
                  <!-- Sinopse da obra, "text-ellipsis" controla o numero de linhas máximo que a caixa de texto terá -->
                  <p class="card-text text-ellipsis-4">Self-proclaimed mad scientist Okabe Rintarou lives in a small room in Akihabara, where he invents "future gadgets" with fellow lab members Shiina Mayuri, his air-headed childhood friend, and Hashida Itaru, an otaku hacker. The three pass the time by tinkering with their latest creation, a "Phone Microwave" that can be controlled through text messages.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Final da estrutura básica da card, que será repetida para cada uma -->
          
          <!-- Cópia de card -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img alt="BEASTARS" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx107660-nANW2Fco3aDK.png" class="img-fluid rounded-start img-card" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">BEASTARS</h5>
                  <p class="card-text">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text text-ellipsis-4">In a world populated by anthropomorphic animals, herbivores and carnivores coexist with each other. For the adolescents of Cherryton Academy, school life is filled with hope, romance, distrust, and uneasiness. 
                    
                    The main character is Legoshi the wolf, a member of the drama club. Despite his menacing appearance, he has a very gentle heart. Throughout most of his life, he has always been an object of fear and hatred by other animals, and he’s been quite accustomed to that lifestyle. But soon, he finds himself becoming more involved with his fellow classmates who have their own share of insecurities and finds his life in school changing slowly.
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Final da estrutura básica da card, que será repetida para cada uma -->

          <!-- Cópia de card -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img alt="Attack on Titan" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx16498-m5ZMNtFioc7j.png" class="img-fluid rounded-start img-card" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Attack on Titan</h5>
                  <p class="card-text">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </p>
                  <p class="card-text text-ellipsis-4">Several hundred years ago, humans were nearly exterminated by titans. Titans are typically several stories tall, seem to have no intelligence, devour human beings and, worst of all, seem to do it for the pleasure rather than as a food source. A small percentage of humanity survived by walling themselves in a city protected by extremely high walls, even taller than the biggest of titans.

                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Final da estrutura básica da card, que será repetida para cada uma -->

          <!-- Cópia de card -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img alt="The Promised Neverland" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx101759-NhSwxv7HY9y9.jpg" class="img-fluid rounded-start img-card" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">The Promised Neverland</h5>
                  <p class="card-text">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text text-ellipsis-3">Emma, Norman and Ray are the brightest kids at the Grace Field House orphanage. And under the care of the woman they refer to as “Mom,” all the kids have enjoyed a comfortable life. Good food, clean clothes and the perfect environment to learn—what more could an orphan ask for? One day, though, Emma and Norman uncover the dark truth of the outside world they are forbidden from seeing.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Final da estrutura básica da card, que será repetida para cada uma -->

          <!-- Cópia de card -->
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img alt="Made in Abyss" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx97986-fzJBML9qecb4.jpg" class="img-fluid rounded-start img-card" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Made in Abyss</h5>
                  <p class="card-text">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </p>
                  <p class="card-text text-ellipsis-4">The "Abyss" is the last unexplored place in the world. Strange and wonderful creatures roam within, and it is full of precious relics that present humans can't recreate. Those that dare to explore the depths are known as "Cave Raiders." An orphan girl named Riko lives on the rim. Her dream is to become a Cave Raider like her mother and solve the mysteries of the cave system. One day, Riko starts exploring the caves and discovers a robot who resembles a human boy.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Final da estrutura básica da card, que será repetida para cada uma -->

          <img alt="Tentáculo segurando uma esfera do dragão" src="{% static 'img/tent_amarelo.png' %}" class="tentacle">
        </div>
        
      </div>

      <!-- Bloco da direita, ocupa 2/3 da tela -->
      <div class="main-right col-md-8">
        <div class="article carousel-padding">
          <!-- Carrossel de múltiplos items que utiliza javascript -->
            <div class="container text-left my-2">
              <h2 class="carousel-header">&nbsp;&nbsp;Recomendações só pra você</h2>
              <div class="row mx-auto my-auto justify-content-center">
                <!-- OBS: Classes "c-1" e "ci-1" foram criadas para ajudar na segregação dos diferentes carrosseis no javascript, para que imagens não se misturem -->
                <div id="recipeCarousel" class="carousel slide c-1" data-bs-ride="c-1">
                    <div class="carousel-inner" role="listbox">
                      
                      <!-- Estrutura de cada imagem do carrossel, que será repetida para cada item -->
                        <div class="carousel-item active ci-1">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="The Promised Neverland" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx101759-NhSwxv7HY9y9.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>
                      <!-- Fim da estrutura do carrossel -->

                        <div class="carousel-item ci-1">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Bungou Stray Dogs" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx103223-bfdnnKWxE4YE.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-1">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="ERASED" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21234-v2NMgPyoVRoM.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-1">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="The Great Pretender" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx110349-59hhZ9CNHVdk.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-1">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Serial Experiments Lain" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx339-4438BQupScYO.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-1">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Re:Zero" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21355-xsLpqMFkMQQk.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-1">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Little Witch Academia" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21858-Pfp8zrJEfPrd.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                      <div class="carousel-item ci-1">
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-img">
                                    <img alt="Mob Psycho 100" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21507-UaVmcRIUjhUa.jpg" class="img-fluid carousel-img">
                                </div>
                            </div>
                        </div>
                      </div> 
                      <!-- Fim da estrutura do carrossel -->

                    </div>

                    <a class="carousel-control-prev w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                    
                </div>
              </div>
            </div>
          <!-- Fim da estrutura do carrossel que será repitida para os outros -->

          <!-- Começo da estrutura do carrossel -->
            <div class="container text-left my-2">
              <h2 class="carousel-header">&nbsp;&nbsp;Amados pela crítica</h2>
              <div class="row mx-auto my-auto justify-content-center">

                <div id="recipeCarousel2" class="carousel slide c-2" data-bs-ride="c-2">
                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active ci-2">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Fullmetal Alchemist Brotherhood" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx5114-4CpuT7iWcZ37.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-2">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Hunter x Hunter (2011)" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx11061-sIpBprNRfzCe.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-2">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Steins;Gate" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx9253-7pdcVzQSkKxT.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-2">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Gintama" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx97889-VwHMlrpbaF9x.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-2">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Sangatsu no Lion" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx98478-dF3mpSKiZkQu.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-2">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Clannad: After Story" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx4181-V1LCtX1rJgbR.png" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-2">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Neon Genesis Evangelion" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx30-1Ro1NFFg28bu.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-2">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Cowboy Bebop" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx1-CXtrrkMpJ8Zq.png" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div> 

                    </div>
                    <a class="carousel-control-prev w-aut" href="#recipeCarousel2" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next w-aut" href="#recipeCarousel2" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                  
              </div>
            </div>
            </div>
          <!-- Fim da estrutura do carrossel -->
          
          <!-- Começo da estrutura do carrossel -->
            <div class="container text-left my-2">
              <h2 class="carousel-header">&nbsp;&nbsp;Populares da temporada</h2>
              <div class="row mx-auto my-auto justify-content-center">

                <div id="recipeCarousel3" class="carousel slide c-3" data-bs-ride="c-3">
                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active ci-3">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="My Hero Academia" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx117193-yZUKig9K220H.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-3">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Tokyo Revengers" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx120120-jDXkzl3oepKo.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-3">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Miss Kobayashi's Dragon Maid S" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx107717-bixaW1NTGBra.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-3">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="The Case Study of Vanitas" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx131646-k6u2UXIsMXEa.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-3">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="TSUKIMICHI -Moonlit Fantasy-" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx125206-O2MsOWdW1lVi.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-3">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Higurashi: When They Cry - SOTSU" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx131149-Yx4j5dfb3494.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-3">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Love Live! Superstar!!" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx114979-H9anmAB2Z7uo.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-3">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Obey Me!" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx131880-LVei71RpRj7i.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div> 

                    </div>
                    <a class="carousel-control-prev w-aut" href="#recipeCarousel3" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next w-aut" href="#recipeCarousel3" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                  
              </div>
            </div>
            </div>
          <!-- Fim da estrutura do carrossel -->

          <!-- Começo da estrutura do carrossel -->
            <div class="container text-left my-2">
              <h2 class="carousel-header">&nbsp;&nbsp;Só pra curtir</h2>
              <div class="row mx-auto my-auto justify-content-center">

                <div id="recipeCarousel4" class="carousel slide c-4" data-bs-ride="c-4">
                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active ci-4">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="One Piece" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-4">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Naruto Shippuden" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx1735-80JNLAlnxrKj.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-4">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Noragami" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx20447-EoQXeygHaVCK.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-4">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Kaguya-sama Love is War" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx101921-qSV6zMacSDm4.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-4">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Konosuba" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx21202-TfzXuWQf2oLQ.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-4">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Death Parade" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx20931-bktYqOcxPERi.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-4">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Jojo's Bizarre Adventures" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx14719-XFOPewvDtDdA.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-4">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Code Geass: Lelouch of Revolution" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx1575-ZJYlg8yjvMKI.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div> 

                    </div>
                    <a class="carousel-control-prev w-aut" href="#recipeCarousel4" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next w-aut" href="#recipeCarousel4" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                  
              </div>
            </div>
            </div>
          <!-- Fim da estrutura do carrossel -->

          <!-- Começo da estrutura do carrossel -->
            <div class="container text-left my-2">
              <h2 class="carousel-header">&nbsp;&nbsp;Para maratonar</h2>
              <div class="row mx-auto my-auto justify-content-center">

                <div id="recipeCarousel5" class="carousel slide c-5" data-bs-ride="c-5">
                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active ci-5">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Puella Magi Madoka Magica" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx9756-oqKE3E6DLtgm.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-5">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="BEASTARS" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx107660-nANW2Fco3aDK.png" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-5">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="The Promised Neverland" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx101759-NhSwxv7HY9y9.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-5">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="Wonder Egg Priority" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx124845-sD8ZA0RGLRWT.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-5">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-img">
                                        <img alt="The Tatami Galaxy" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx7785-TMqYIFkWDCgy.jpg" class="img-fluid carousel-img">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ci-5">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="ODD TAXI" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx128547-TWRVIu5zRTYx.jpg" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-5">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="The Melancholy of Haruhi Suzumiya" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx849-uXOftsjBDz2T.png" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="carousel-item ci-5">
                          <div class="col-md-2">
                              <div class="card">
                                  <div class="card-img">
                                      <img alt="Violet Evergarden" src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21827-10F6m50H4GJK.png" class="img-fluid carousel-img">
                                  </div>
                              </div>
                          </div>
                        </div> 

                    </div>
                    <a class="carousel-control-prev w-aut" href="#recipeCarousel5" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next w-aut" href="#recipeCarousel5" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                  
              </div>
            </div>
            </div>
          <!-- Fim da estrutura do carrossel -->

          
        </div>
        
        
      </div>
    </div>
  </div>
  <footer class="text-center text-lg-start">
          <!-- Copyright and Social-->
          <div class="text-dark text-center p-3">
            <p class="small"><a href="https://github.com/barrafas/coolt-django"><span class="bi bi-github"></span> Repositório GitHub</a> - <a href="{% url 'about' %}">Sobre</a></p>
            <p class="small">2021 - Carol Erthal - Eduardo Adame - Tiago Barradas - Rodrigo Pintucci - Vinicius Hedler</p>
          </div>
          <!-- Copyright and Social-->
        </footer>

<script src="{% static 'js/multiple_carousel.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>

</html>