{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}


{% block headinfo %}
    <!-- Nosso CSS (SASS) -->
    <link href="{% static 'css/chamariz.css' %}" rel="stylesheet">
    <!--Atualiza o título da página-->
    <title>Coolt</title>
    <!-- Adiciona o favicon-->
    <link rel="icon" href="{% static 'img/tako2.png' %}">
{% endblock %}



{% block content %}
    <!-- Modelo de Nav -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <!-- Nome principal -->
          <a class="navbar-brand" href="#"> 
            <img width=200 height=100 src="{% static 'img/nome.png' %}" alt="Nome">
          </a>
          <!-- Botão para acesso pelo celular -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Barra de navegação -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <!-- Espaço para login -->
            
            <div class="container">
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="email-top" class="col-form-label">Email</label>
                </div>
                <div class="col-auto">
                  <input type="email" id="email-top" class="form-control">
                </div>
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Senha</label>
                </div>
                <div class="col-auto">
                  <input type="password" id="inputPassword6" class="form-control">
                </div>
                <div class="col-auto">
                  <a class="btn btn-primary" href="{% url 'home' %}">Login</a>
                </div>
                <div class="col-auto">
                  <input type="checkbox" class="form-check-input" id="conectado-top">
                  <label class="form-check-label" for="conectado-top">Mantenha-me conectado</label>
                </div>
              </div>

            </div>

          </div>
        </div>
    </nav>


     <div class="container">
        <!-- Indica o comportamento das divisórias a seguir, elas ocuparão uma "linha" de seu contêiner -->
        <div class="row">
        <!-- Divisória main-center determina a "proporção" (8 de 12) do espaço vertical da página que os contêiners irão ocupar -->
          <div class="main-center col-md-6">
            <img src="{% static 'img/polvo.png' %}" class="d-block w-100" alt="...">
          </div>
        
         <!-- Divisória que coloca o texto em uma coluna à direita das colunas anteriores () -->
          <div class="main-right col-md-6">
            <div class="register">
              <h2>Registre-se agora!</h2>
              <form>
                <div class="mb-3">
                  <label for="usuario" class="form-label">Insira seu nome de usuário</label>
                  <input type="text" class="form-control" id="usuario">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Insira seu email</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                  <label for="senha" class="form-label">Insira sua senha</label>
                  <input type="password" class="form-control" id="senha">
                </div>
                <div class="mb-3">
                  <label for="senha-confirm" class="form-label">Confirme sua senha</label>
                  <input type="password" class="form-control" id="senha-confirm">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="conectado">
                  <label class="form-check-label" for="conectado">Mantenha-me conectado</label>
                </div>
                <a class="btn btn-primary" href="{% url 'home' %}">Criar conta</a>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="main-left col-md-4">
                <div class="article">
                    <h2>Todos seus sites de review em um só lugar!</h2>
                    <ul>
                        <li>Milhares de obras incluindo filmes, séries, livros, animes e jogos.</li>
                        <li>Uma estante abrangente e fácil de organizar.</li>
                        <li>Atualize seu progresso e avalie obras consumidas.</li>
                    </ul>
                  </div>
                </div>
                <div class="main-center col-md-4">
                  <div class="article">
                    <h2>Aproveite do nosso sistema de recomendações!</h2>
                    <ul>
                        <li>Suas avaliações influenciam uma escolha personalizada para seu gosto.</li>
                        <li>Confira as obras mais aclamadas pela crítica.</li>
                        <li>Acompanhe as novidades e descubra as populares da temporada.</li>
                    </ul>
                  </div>
                </div>
                <div class="main-right col-md-4">
                  <div class="article">
                    <h2>Ainda mais divertido com amigos!</h2>
                    <ul>
                        <li>Publique suas avaliações e confira a de outras pessoas.</li>
                        <li>Conheça pessoas de gosto parecido com o seu.</li>
                        <li>Expanda seu repertório interagindo com pessoas de gosto diferente.</li>
                    </ul>
                  </div>
                </div>
           </div>
           <div class="row">
             <div class="main-center col-md-6">
               <div class="article">
                 <h2>Tela inicial</h2>
                 <img class="show-pic" src="{% static 'img/printhome.png' %}" alt="Captura de Tela Inicial">
                </div>
              </div>
              <div class="main-right col-md-6">
                <div class="article">
                  <h2>Exemplo de obra</h2>
                  <img class="show-pic" src="{% static 'img/printobra.png' %}" alt="Captura de Tela da obra How I Met Your Mother">
                </div>
              </div>
            </div>
        </div>
        {% if not 'javascript_in_head'|bootstrap_setting %}
          {% bootstrap_javascript %}
        {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}

