<!DOCTYPE html>

{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% bootstrap_css %}
    <!-- Ícones do Bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Nosso CSS (SASS) -->
    <link href="{% static 'css/series.css' %}" rel="stylesheet">
    <!--Atualiza o título da página-->
    <title>Coolt - Séries</title>
    <!-- Adiciona o favicon-->
    <link rel="icon" href="{% static 'img/seriesicon.png' %}">
    <!-- Carrega as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
</head>



<body> 
    <!-- Modelo de Nav -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <!-- Nome principal -->
          <a class="navbar-brand" href="{% url 'home' %}"> 
            <img width=100 height=50 src="{% static 'img/nome.png' %}" alt="Coolt">
          </a>
          <!-- Botão para acesso pelo celular -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Barra de navegação -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> <!--Define a parte esquerda do nav-->

              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Minha Estante</a>
              </li>

              <!-- Dropdown por entretenimento -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Explorar
                </a>
                <!-- Lista por gênero -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'animes' %}">Animes</a></li>
                  <li><a class="dropdown-item" href="{% url 'movies' %}">Filmes</a></li>
                  <li><a class="dropdown-item" href="{% url 'books' %}">Livros</a></li>
                  <li><a class="dropdown-item" href="{% url 'games' %}">Jogos</a></li>
                  <li><a class="dropdown-item" href="{% url 'series' %}">Séries</a></li>
                </ul>

              </li>

            
            </ul>



            <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!--Define a parte direita do nav, particular de cada entretenimento-->
              <li class="nav-item">
                <span class="navbar-brand mb-0 h2">Séries</span>
              </li>
            </ul>

              <!-- Dropdown por gênero -->
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown2" data-bs-toggle="dropdown" aria-expanded="true">
                    Gêneros
                  </a>
                  <!-- Lista para subdivisão por gênero -->
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <li><a class="dropdown-item" href="#">Aventura</a></li>
                    <li><a class="dropdown-item" href="#">Documentário</a></li>
                    <li><a class="dropdown-item" href="#">Drama</a></li>
                    <li><a class="dropdown-item" href="#">Sitcom</a></li>
                    <li><a class="dropdown-item" href="#">Thriller</a></li>
                  </ul> 
                </li>
              </ul>
               
            

            <!-- Barra de pesquisas -->
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                <a class="btn btn-outline-success" href="{% url '404' %}"><span class="bi bi-search"></span></a>
              </form>
  
              <!-- Botão de sair -->
              <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"> <b>Sair</b></a>
                  </li>
              </ul>

          </div>
        </div>
    </nav>

      <div class="container-fluid gx-5">
        <!-- Indica o comportamento das divisórias a seguir, elas ocuparão uma "linha" de seu contêiner -->
        <div class="row">
        <!-- Divisória main-center determina a "proporção" (1/3) do espaço vertical da página que os contêiners irão ocupar -->
        <div class="main-center col-md-4">

        <!-- Div de texto da barra esquerda -->
        <div class="article">
            <h2>Em Alta</h2>
            <!-- Card e gutters do bootstrap 5 que definem os paddings -->
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <!-- Adiciona a imagem do card, adaptando-o ao card -->
                  <img alt="How I Met Your Mother" src="https://br.web.img3.acsta.net/c_310_420/pictures/210/609/21060989_20131126123652773.jpg" class="img-fluid rounded-start img-card" width="500" height="500">
                </div>
                <!-- Texto de descrição, inclusive posicionamento -->
                <div class="col-md-8">
                  <div class="card-body ">
                    <h5 class="card-title"><a href="{% url 'work' %}">How I Met Your Mother</a></h5>
                    <p class="card-text">
                    <!-- Ícones de estrela do bootstrap -->
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    </p>
                    <!-- Texto que é interrompido após 3 linhas -->
                    <p class="card-text text-ellipsis-4"> Em 2030, o arquiteto Ted Mosby (Josh Radnor) conta a história sobre como conheceu a mãe dos seus filhos. Ele volta no tempo para 2005, relembrando suas aventuras amorosas em Nova York e a busca pela mulher dos seus sonhos. </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- A partir daqui há repetição do código para cada card, adaptando dados -->
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img alt="Brooklyn 99" src="https://upload.wikimedia.org/wikipedia/pt/7/71/Brooklyn_Nine-Nine-5.jpg" class="img-fluid rounded-start img-card" width="500" height="500">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"> Brooklyn 99 </h5>
                    <p class="card-text">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i></p>
                      <p class="card-text text-ellipsis-4"> Jake Peralta é um detetive brilhante e ao mesmo tempo imaturo, que nunca precisou se preocupar em respeitar as regras. Tudo muda quando um capitão exigente assume o comando de seu esquadrão e Jake deve aprender a trabalhar em equipe. </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img alt="One Day at a Time" src="https://br.web.img3.acsta.net/pictures/18/01/26/18/25/0046343.jpg" class="img-fluid rounded-start img-card" width="500" height="500">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">One Day at a Time</h5>
                    <p class="card-text">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i>
                      <i class="bi bi-star"></i>
                    </p>
                    <p class="card-text text-ellipsis-4"> Na nova versão do clássico da TV sobre uma família de imigrantes cubanos, a mãe recém-divorciada e a avó careta criam uma adolescente e um pré-adolescente. </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img alt="FRIENDS" src="https://br.web.img3.acsta.net/pictures/19/12/20/21/27/3055482.jpg" class="img-fluid rounded-start img-card" width="500" height="500">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">FRIENDS</h5>
                    <p class="card-text">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-half"></i>
                    </p>
                      <!-- Corta em 4 linhas -->
                      <p class="card-text text-ellipsis-4"> Seis amigos enfrentam a vida e os amores em Nova York e adoram passar o tempo livre na cafeteria Central Perk. </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img alt="Arrested Development" src="https://cdn.fstatic.com/media/movies/covers/2011/11/231ef478c7f02362d227854b25960dfc.jpg" class="img-fluid rounded-start img-card" width="500" height="500">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Arrested Development</h5>
                    <p class="card-text">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                    </p>
                      <p class="card-text text-ellipsis-4"> A história de Arrested Development é muito simples: um pai viúvo chamado Michael Bluth, cujo pai George Bluth foi preso por forjar a contabilidade das empresas Bluth, acaba tendo que cuidar de sua ex-rica família.  </p>
                  </div>
                </div>
              </div>
            </div>
        
            <img alt="Tentáculo segurando um controle remoto" src="{% static 'img/tent_vermelho.png' %}" class="tentacle">
        </div>   
        </div>

        <!-- Bloco da direita, ocupa 2/3 da tela -->
        <div class="main-right col-md-8">
            <!-- Ínicio da parte textual, definindo o padding conforme carousel-padding, descrito no css -->
            <div class="article carousel-padding">
                <!-- Posicionamento do texto -->
                <div class="container text-left my-2">
                  <h2>&nbsp;&nbsp;Recomendações só para você</h2>
                  <div class="row mx-auto my-auto justify-content-center">
                      <!-- Cria o primeiro carrossel, definindo tags com 1 para uso no js sem mistura dos itens de cada, assim como nos botões-->
                      <div id="recipeCarousel1" class="carousel slide c-1" data-bs-ride="c-1">
                          <div class="carousel-inner" role="listbox">

                              <!-- Primeiro item do carrossel, leva a tag active -->
                              <div class="carousel-item ci-1 active">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="The Good Place" src="https://upload.wikimedia.org/wikipedia/pt/thumb/7/79/The_Good_Place_temporada_1.jpg/200px-The_Good_Place_temporada_1.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              <!-- A partir daqui há repetição da estrutura dos itens do carrossel-->
                              <div class="carousel-item ci-1">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Grey's Anatomy" src="https://upload.wikimedia.org/wikipedia/pt/thumb/6/62/Grey%27s_Anatomy_temporada_12.jpg/250px-Grey%27s_Anatomy_temporada_12.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-1">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="The Expanse" src="https://assets0.minhaserie.com.br/uploads/editor_pictures/000/075/611/content_pic.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-1">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Sherlock" src="https://infinitasvidas.files.wordpress.com/2018/10/poster-sherlock.png?w=640" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-1">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Modern Family" src="https://s2.glbimg.com/cSyRrIUB7JtCYb6KtXk8-WBv2Mg=/362x536/https://s2.glbimg.com/eK5tsIx1yoXYyPUdt1LJc4J9G1Y=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2020/5/J/88CLA0SvGbrstmV3S3SA/2020-1196-modern-family-11t-poster.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-1">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="The Crown" src="https://upload.wikimedia.org/wikipedia/pt/e/e2/The-Crown-Poster-S2.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-1">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Sense 8" src="https://br.web.img2.acsta.net/pictures/17/04/10/16/46/409558.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-1">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Queer eye" src="https://br.web.img2.acsta.net/pictures/20/02/14/05/33/1999850.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          <!-- Definição dos botões do carrossel, href relacionado ao id de cada um-->
                          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel1" role="button" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          </a>
                          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel1" role="button" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          </a>
                      </div>
                  </div>
                </div>
                
                <!-- A partir daqui há repetição da estrutura dos carrosseis -->
                <div class="container text-left my-2">
                  <h2>&nbsp;&nbsp;Amados pela crítica</h2>
                  <div class="row mx-auto my-auto justify-content-center">
                      <div id="recipeCarousel2" class="carousel slide c-2" data-bs-ride="c-2">
                            <div class="carousel-inner" role="listbox">

                                <div class="carousel-item active ci-2">
                                    <div class="col-md-2">
                                        <div class="card">
                                            <div class="card-img">
                                                <img alt="The Office" src="https://m.media-amazon.com/images/I/81R7QZV5P1L._AC_SY445_.jpg" class="img-fluid carousel-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ci-2">
                                    <div class="col-md-2">
                                        <div class="card">
                                            <div class="card-img">
                                                <img alt="Gracie and Frankie" src="https://woomagazine.com.br/wp-content/uploads/2018/02/28238361_963852517117430_1300577200428118446_o.jpg" class="img-fluid carousel-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ci-2">
                                    <div class="col-md-2">
                                        <div class="card">
                                            <div class="card-img">
                                                <img alt="Suits" src="https://upload.wikimedia.org/wikipedia/pt/2/25/Suits_temporada_7.jpg" class="img-fluid carousel-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ci-2">
                                    <div class="col-md-2">
                                        <div class="card">
                                            <div class="card-img">
                                                <img alt="The Marvellous Mrs. Maisel" src="https://br.web.img3.acsta.net/pictures/17/10/11/17/34/4815573.jpg" class="img-fluid carousel-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ci-2">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="This is us" src="https://noticiasdatv.uol.com.br/media/_versions/recomenda/this-is-us-poster-season-4_fixed_recomenda_big.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                                <div class="carousel-item ci-2">
                                    <div class="col-md-2">
                                        <div class="card">
                                            <div class="card-img">
                                                <img alt="The Handmaid's Tale" src="https://cdn.fstatic.com/media/movies/covers/2021/02/THE-HANDMAIDS-TALE-Season-3-Key-Art.jpg" class="img-fluid carousel-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item ci-2">
                                    <div class="col-md-2">
                                        <div class="card">
                                            <div class="card-img">
                                                <img alt="Modern Love" src="https://br.web.img3.acsta.net/c_310_420/pictures/19/09/13/07/22/4076331.jpg" class="img-fluid carousel-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel2" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel2" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                      </div>
                  </div>
                </div>

                <div class="container text-left my-2">
                  <h2>&nbsp;&nbsp;As mais assistidas</h2>
                  <div class="row mx-auto my-auto justify-content-center">
                      <div id="recipeCarousel3" class="carousel slide c-3" data-bs-ride="c-3">
                          <div class="carousel-inner" role="listbox">

                              <div class="carousel-item active ci-3">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Atypical" src="https://br.web.img3.acsta.net/pictures/18/08/20/23/44/0394911.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-3">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Full House" src="https://cdn.parrotanalytics.com/images/poster-hyphen/028c70f0-0c99-436a-bf7f-d613c1225f39.medium.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-3">
                                <div class="col-md-2">
                                    <div class="card">
                                        <div class="card-img">
                                            <img alt="Desventuras em Série" src="https://media.fstatic.com/okt_vFH3yDNK8jNp0MMmi8jCcC8=/290x478/smart/media/movies/covers/2018/12/series-of-unfortunate-events-key-art.jpg" class="img-fluid carousel-img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                              <div class="carousel-item ci-3">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Supergirl" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqmf2l5zdbro_bJtEtfwJVg3BRpT0wrG59lw&usqp=CAU" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-3">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="The Good Doctor" src="https://br.web.img3.acsta.net/pictures/18/09/20/17/08/1922378.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-3">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Loki" src="https://img.olhardigital.com.br/wp-content/uploads/2021/03/loki-poster-novo-691x1024.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="carousel-item ci-3">
                                <div class="col-md-2">
                                    <div class="card">
                                        <div class="card-img">
                                            <img alt="WandaVision" src="https://lumiere-a.akamaihd.net/v1/images/bigred_ka_vert_brpo_cddc98da.jpeg" class="img-fluid carousel-img">
                                        </div>
                                    </div>
                                </div>
                              </div>

                              <div class="carousel-item ci-3">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="How to get away with murder" src="https://upload.wikimedia.org/wikipedia/pt/d/db/How_to_Get_Away_with_Murder_Temporada_2_Poster.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel3" role="button" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          </a>
                          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel3" role="button" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          </a>
                      </div>
                  </div>
                </div>

                <div class="container text-left my-2">
                  <h2>&nbsp;&nbsp;Animações</h2>
                  <div class="row mx-auto my-auto justify-content-center">
                      <div id="recipeCarousel4" class="carousel slide c-4" data-bs-ride="c-4">
                          <div class="carousel-inner" role="listbox">

                              <div class="carousel-item active ci-4">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="The SImpsons" src="http://d2r9epyceweg5n.cloudfront.net/stores/892/720/products/os-simpsons-29-temporada1-1e2bb1a258ff8039e615661421376424-640-0.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-4">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Gravity Falls" src="https://static.wikia.nocookie.net/dublagem/images/6/64/Gravity_Falls.jpg/revision/latest?cb=20210313005121&path-prefix=pt-br" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-4">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Desenchantment" src="https://pipocanamadrugada.com.br/site/wp-content/uploads/2019/09/Desencanto-1.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-4">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="The Owl House" src="https://static.wixstatic.com/media/737e63_2222758b602f424ca50e1152cd0ed5d6~mv2.jpg/v1/fill/w_1000,h_1468,al_c,q_90,usm_0.66_1.00_0.01/737e63_2222758b602f424ca50e1152cd0ed5d6~mv2.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-4">
                                <div class="col-md-2">
                                    <div class="card">
                                        <div class="card-img">
                                            <img alt="Hora de Aventura" src="https://br.web.img3.acsta.net/pictures/14/04/22/09/03/422873.jpg" class="img-fluid carousel-img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                              <div class="carousel-item ci-4">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Steven Universo" src="https://static.wikia.nocookie.net/stevenuniverso/images/5/51/Steven_Universo_-_Imagem_promocional_EUA.jpg/revision/latest?cb=20140311183959&path-prefix=pt-br" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-4">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="South Park" src="https://br.web.img3.acsta.net/pictures/21/01/11/15/25/3385672.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="carousel-item ci-4">
                                <div class="col-md-2">
                                    <div class="card">
                                        <div class="card-img">
                                            <img alt="Apenas um show" src="https://media.fstatic.com/QaCAz6IovmA4sr7ka9gi1MdxzF4=/290x478/smart/media/movies/covers/2015/07/apenas-um-show-1a-temporada_t45103.jpg" class="img-fluid carousel-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>

                          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel4" role="button" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          </a>
                          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel4" role="button" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          </a>
                      </div>
                  </div>
                </div>

                <div class="container text-left my-2">
                  <h2>&nbsp;&nbsp;Realities</h2>
                  <div class="row mx-auto my-auto justify-content-center">
                      <div id="recipeCarousel5" class="carousel slide c-5" data-bs-ride="c-5">
                          <div class="carousel-inner" role="listbox">

                              <div class="carousel-item active ci-5">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Masterchef Brasil" src="https://i.imgur.com/dM6MkUF.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-5">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="The Circle Brasil" src="https://static1.purebreak.com.br/articles/5/92/96/5/@/358648--the-circle-brasil-participantes-data-696x0-1.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-5">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="America's Next Top Model" src="https://m.media-amazon.com/images/M/MV5BNjlmZjBkMzUtOGFmYy00Nzk0LTg0ZWUtNThiMGQzODAxOGUyXkEyXkFqcGdeQXVyMTkzODUwNzk@._V1_.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-5">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Pesadelo na Cozinha" src="https://i.pinimg.com/originals/6a/69/fd/6a69fd139289abe8c0ddab4dec42d84a.png" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-5">
                                <div class="col-md-2">
                                    <div class="card">
                                        <div class="card-img">
                                            <img alt="Glow up" src="https://dg31sz3gwrwan.cloudfront.net/poster/360631/1356787-4-optimized.jpg" class="img-fluid carousel-img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                              <div class="carousel-item ci-5">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Skin Wars" src="https://m.media-amazon.com/images/M/MV5BMjI2NzY4NjQxM15BMl5BanBnXkFtZTgwMjEyNDIwNzE@._V1_.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="carousel-item ci-5">
                                  <div class="col-md-2">
                                      <div class="card">
                                          <div class="card-img">
                                              <img alt="Project Runway" src="https://m.media-amazon.com/images/I/51jgprpjKbL._AC_SY445_.jpg" class="img-fluid carousel-img">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel5" role="button" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          </a>
                          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel5" role="button" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          </a>
                      </div>
                  </div>
                </div>


            </div>
        </div>
        </div>
      </div>
      <footer class="text-center text-lg-start">
        <!-- Copyright and Social-->
        <div class="text-dark text-center p-3">
            <p class="small"><a href="https://github.com/barrafas/coolt-django"><span class="bi bi-github"></span> Repositório GitHub</a> - <a href="{% url 'about' %}">Sobre</a></p>
            <p class="small">2021 - Carol Erthal - Eduardo Adame - Tiago Barradas - Rodrigo Pintucci - Vinicius Hedler</p>
        </div>
        <!-- Copyright and Social-->
      </footer>
    
    <!-- Importa os scripts do javascript utilizado para os carroseis e do boostrap 5 -->
    <script src="{% static 'js/multiple_carousel.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    </body>
</html>