{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}

{% block headinfo %}
  <!-- Nosso CSS (SASS) -->
  <link href="{% static 'css/work.css' %}" rel="stylesheet">
  <!--Atualiza o título da página-->
  <title>How I Met Your Mother</title>
  <!-- Adiciona o favicon-->
  <link rel="icon" href="{% static 'img/tako2.png' %}">
{% endblock %}


{% block content %}
    {% include 'nav.html' %}
    <div class="container">
        <!-- Indica o comportamento das divisórias a seguir, elas ocuparão uma "linha" de seu contêiner -->
        <div class="row">
        <!-- Divisória main-center determina a "proporção" (4/12) do espaço vertical da página que os contêiners irão ocupar -->
            <div class="main-center col-md-4">
                <div class="description">
                    <h2>How I Met Your Mother</h2>
                    
                    <img id='work-pic' class='d-flex work-pic' src="https://upload.wikimedia.org/wikipedia/pt/a/a5/How_I_Met_Your_Mother_season_1_DVD_Cover.jpg" alt="How I Met Your Mother">
                    
                    <ul class="list-group">
                        <li class="list-group-item text-center"><b>Nota geral: </b>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </li>
                        <li class="list-group-item text-center"> <b>Sua nota: </b>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </li>
                    </ul>
        
                    <hr class="border-5 border-top">
        
                    <h3>Gêneros</h3>
                    <div id="genres">
                    <span class="badge rounded-pill bg-warning">Comédia</span>
                    <span class="badge rounded-pill bg-danger">Romance</span>
                    <span class="badge rounded-pill bg-primary">Drama</span>
                    </div>
        
                    <hr class="border-5 border-top">
        
                    <h3>Seu progresso</h3>
                    <div id="stats">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="25" style="width:78%" aria-valuemin="0" aria-valuemax="100">78%</div>
                    </div>
                    </div>
                    
                    <hr class="border-5 border-top">

                    <h3>Séries semelhantes</h3>
                
                    <div id="series">
                        <div class="row">
                            <div class="col-sm-4"><img src="https://br.web.img3.acsta.net/pictures/19/12/20/21/27/3055482.jpg" alt="FRIENDS"></div>
                            <div class="col-sm-4"><img src="https://upload.wikimedia.org/wikipedia/pt/7/71/Brooklyn_Nine-Nine-5.jpg" alt="Brooklyn 99"></div>
                            <div class="col-sm-4"><img src="https://s2.glbimg.com/476xiyzHwobzomhiO6QZ8ZaZPCM=/362x536/https://s2.glbimg.com/gw3G9SRdfhWZbNxnMuwbznGiAW0=/i.s3.glbimg.com/v1/AUTH_c3c606ff68e7478091d1ca496f9c5625/internal_photos/bs/2020/s/Y/z9FwyXQjq1flWRIm3mUA/2020-726-series-warner-the-big-bang-theory-poster.jpg" alt="The Big Bang Theory"></div>
                        </div>
                    </div>    
                </div>         
                
            </div>    
        
        <!-- Divisória que coloca o texto em uma coluna à direita das colunas anteriores (8/12) -->
            <div class="main-right col-md-8">
                <div class="rightside">
                  <h2>Sinopse</h2>
                  <p>Em 2030, o arquiteto Ted Mosby (Josh Radnor) conta a história sobre como conheceu a mãe dos seus filhos. Ele volta no tempo para 2005, relembrando suas aventuras amorosas em Nova York e a busca pela mulher dos seus sonhos.</p> 
              </div>
                <div class="rightside">
                    <h2>Análises em alta</h2>
                    <div class="review">
                      <h3>Muito bom!!</h3>
                      <p class="card-text">
                        <!-- Uso do Bootstrap Icons para mostrar a nota média da obra no site -->
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i> -

                        <i class="bi bi-hand-thumbs-up-fill"> 5840</i>
                      </p>
                      <p>
                        Sem dúvida, o melhor show que já assisti. A turma é simplesmente incrível. Você não pode deixar de amar cada personagem. O enredo foi perfeito, embora eu tivesse adorado um final melhor, mas acredito que seja o mais sensato, já que eles tiveram que filmar depois da 2ª temporada para que as crianças não parecessem mais velhas 7 anos depois. Os escritores têm feito um ótimo trabalho e o fato de que cobriram todos os detalhes do show o torna incrível.
                      </p>
                    </div>

                    <hr class="border-2 border-top">

                    <div class="review">
                      <h3>Absolutamente meu favorito</h3>
                      <p class="card-text">
                        <!-- Uso do Bootstrap Icons para mostrar a nota média da obra no site -->
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i> 
                        <i class="bi bi-star-fill"></i> -

                        <i class="bi bi-hand-thumbs-up-fill"> 4893</i>
                      </p>
                      <p>
                        A quantidade perfeita de drama e comédia. Cada personagem é perfeitamente desenvolvido e muito raramente sai de sua personalidade central. Eu vi todos os episódios e posso dizer que o nosso de 208 deles talvez não tenha gostado de 8. Todos os outros episódios são cativantes, inesperados, engraçados, precisos, realistas, cheios de positividade e depois de você ter visto todos no final você será um pouco melhor como pessoa. Pelo menos foi o que fez por mim.
                      </p>
                    </div>

                    <hr class="border-2 border-top">

                    <div class="review">
                      <h3>Um bom sitcom</h3>
                      <p class="card-text">
                        <!-- Uso do Bootstrap Icons para mostrar a nota média da obra no site -->
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i> 
                        <i class="bi bi-star-half"></i> -

                        <i class="bi bi-hand-thumbs-up-fill"> 4121</i>
                      </p>
                      <p>
                        Realmente engraçado. Amei os personagens e a história. A coisa sobre esse show é que não é muito consistente. A primeira e a 8ª temporada não são nada de especial e a 9ª temporada simplesmente não é boa e este show tem um dos piores finais de qualquer show. Mas todas as outras temporadas são incríveis e hilárias e eu a assisti novamente cerca de 10 vezes. Definitivamente vale a pena assistir <br>

                        Temporada 1: 7,5 / 10. Temporada 2: 9,4 / 10. Temporada 3: 8,9 / 10. <br>Temporada 4:  8,7 / 10. Temporada 5: 9,1 / 10. Temporada 6: 9,4 / 10. <br> Temporada 7: 8,0 / 10.  Temporada 8: 7,4 / 10. Temporada 9: 6,0 / 10.
                      </p>
                    </div>

                    <hr class="border-2 border-top">

                    <div class="review">
                      <h3>Um ótima opção para descontrair</h3>
                      <p class="card-text">
                        <!-- Uso do Bootstrap Icons para mostrar a nota média da obra no site -->
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i> 
                        <i class="bi bi-star-fill"></i> -

                        <i class="bi bi-hand-thumbs-up-fill"> 3968</i>
                      </p>
                      <p>
                        Como um fã de "Friends" também, não me importo que haja tantas semelhanças entre os dois. Primeiro, eu vi "Friends", e se tornou meu programa de TV favorito. Eu vi pelo menos duas vezes, e aí comecei apenas a colocar na tv como um "ruído de fundo". Eu ainda rio / choro em algumas cenas depois de tanto tempo. E é por isso que não posso escolher entre esses dois: "Friends" foi o primeiro programa de TV favorito, mas "HIMYM" é mais parecido com a minha vida. Ou mais parecido com a vida e os amigos que gostaria de ter. Como Barney diria "Passar um tempo em uma cafeteria: não é tão divertido quanto sair em um bar." Bem, eu gostaria de beber meu "elixir para corrigir a ressaca" no meu café favorito, depois de passar a noite no meu bar favorito :)
                      </p>
                    </div>
                    <figure class="text-center">
                      <a href="#">Ver mais</a>
                    </figure>
                  </div>
                </div>
            </div>
        </div>

{% endblock %}