{% extends 'base.html' %} {% load django_bootstrap5 %} {% load bootstrap_icons
%} {% load static %} {% block headinfo %}
<!-- Nosso CSS (SASS) -->
<link href="{% static 'css/about.css' %}" rel="stylesheet" />
<!--Atualiza o título da página-->
<title>Coolt - Sobre</title>
<!-- Adiciona o favicon-->
<link rel="icon" href="{% static 'img/tako2.png' %}" />
<!-- Carrega as fontes -->
<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap"
  rel="stylesheet"
/>

{% endblock %} {% block content %} {% include 'nav.html' %}
<div class="container">
  <!-- Indica o comportamento das divisórias a seguir, elas ocuparão uma "linha" de seu contêiner -->
  <div class="row">
    <!-- Divisória main-center determina a "proporção" (8 de 12) do espaço vertical da página que os contêiners irão ocupar -->
    <div class="main-center col-md-12">
      <!-- Blocos de texto quaisquer -->
      <!-- Texto sobre quem somos nós -->
      <div class="article round">
        <h2>Quais são os gêneros mais comuns dentre os tipos de conteúdo em nosso banco de dados?</h2>
        <h4>Introdução </h4>
        <p>
          Em nosso banco de dados, temos cinco tipos de mídias: jogos, filmes, livros, séries e animes, com cerca de 100 entradas de cada. Por outro lado, temos 128 gêneros diferentes. Como cada obra pode acabar tendo mais de um gênero, é bem relevante entendermos qual é a concentração deles para cada um dos tipos.
        </p>
        {% for name, plot in plots.items %}
        <hr width="1">
        <h4>{{ name }}</h4>
        <div class="center-content">
            Veja abaixo o histograma que aponta os gêneros mais comuns dentre as obras do tipo {{ name }}. </br>
            <hr width="1">
            <center>
          {{ plot | safe}}
        </center>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  {% endblock %} {% block scripts %} {% endblock %}
</div>
